.main_content_div{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow-x: none;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.content_div_cta_row{
    margin: 25px 25px 10px 25px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.backbtn_cont{
    margin: auto auto auto 0;
    padding: 7px 10px;
    display: flex;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.backbtn_cont:hover{
    background-color: #FFC145;
}

.backbtn_img_div{
    margin: auto 10px auto 0;
    padding: 0;
}

.backbtn_img_div img{
    display: block;
}

.backbtn_cont p{
    margin: auto 5px auto 0;
    padding: 0;
    font-size: 0.812rem;
    font-weight: 500;
    color: #2B2D42;
}

.editprop_btn{
    margin: auto 3px;
    padding: 10px 20px;
    font-size: 0.812rem;
    font-weight: 500;
    color: #2B2D42;
    background-color: #FFFFFF;
    border: #2B2D42 solid 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.editprop_btn:hover{
    background-color: #FFC145;
    border: #FFC145 solid 1px;
}

.consump_btn{
    margin: auto 3px;
    padding: 10px 20px;
    font-size: 0.812rem;
    font-weight: 500;
    color: #2B2D42;
    background-color: #FFFFFF;
    border: #2B2D42 solid 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.consump_btn:hover{
    background-color: #FFC145;
    border: #FFC145 solid 1px;
}

.statements_btn{
    margin: auto 3px;
    padding: 10px 20px;
    font-size: 0.812rem;
    font-weight: 500;
    color: #2B2D42;
    background-color: #FFFFFF;
    border: #2B2D42 solid 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.statements_btn:hover{
    background-color: #FFC145;
    border: #FFC145 solid 1px;
}

.newbillstat_btn{
    margin: auto 3px;
    padding: 10px 20px;
    font-size: 0.812rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2B2D42;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.newbillstat_btn:hover{
    background-color: #FFC145;
    color: #2B2D42;
}



.main_content_title_div{
    margin: 0 40px;
    padding: 0;
}

.content_title{

}



/* 

    STATEMENTS LIST CONTAINER

*/
.main_statements_list_container{
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

/* LIST LABEL */

.statements_list_item_label_div{
    margin: 0 30px 5px 30px;
    padding: 0;
    display: flex;
}

.statements_list_item_date_label_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 25%;
}

.statements_list_item_date_label{
    margin: 0 0 0 20px;
    font-size: 0.625rem;
}

.statements_list_item_id_label_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 20%;
}

.statements_list_item_id_label{
    font-size: 0.625rem;
}

.statements_list_item_status_label_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 20%;
}

.statements_list_item_status_label{
    font-size: 0.625rem;
}

.statements_list_item_cta_label_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 35%;
}

.statements_list_item_cta_label{
    margin: 0 15px 0 auto;
    font-size: 0.625rem;
}

/* LIST ITEM */

.statements_list_item_div{
    margin: 0 30px 10px 30px;
    padding: 5px;
    display: flex;
    border: #8D99AE solid 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.statements_list_item_date_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 25%;
}

.statements_list_item_date{
    margin: 0 0 0 15px;
    font-size: 0.812rem;
    font-weight: 700;
}

.statements_list_item_id_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 20%;
}

.statements_list_item_id{
    margin: 0;
    font-size: 0.812rem;
    font-weight: 700;
}

.statements_list_item_status_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 20%;
}

.statements_list_item_status{
    margin: 0;
    padding: 3px 15px;
    font-size: 0.625rem;
    font-weight: 700;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: #2B2D42 solid 1px;
}

.statements_list_item_cta_div{
    margin: auto 0;
    padding: 0;
    display: flex;
    width: 35%;
}

.statements_list_item_cta{
    margin: auto 0 auto auto;
    padding: 7px 20px;
    background-color: #2B2D42;
    color: #FFFFFF;
    font-size: 0.812rem;
    font-weight: 500;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}