/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/components.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.components_main_container__x_cTw{
    margin: 0;
    padding: 0;
    display: flex;
}

/* 

    SIDEBAR

*/

.components_main_sidebar_container__HVbd8{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    min-width: 290px;
    height: 100vh;
    background-color: #DFE9FA;
}

.components_sidebar_logo_div__peuY9{

}

.components_sidebar_logo__4yQpi{
    margin: 20px auto;
    padding: 0;
    display: block;
}

/* 

    NAVIGATION

*/

.components_sidebar_nav_div__kEg61{
    margin: 40px 0 20px 0;
    padding: 0;
}

.components_navlist_div__P9Jy6{
    margin: 0 40px;
    padding: 0;
}

.components_navlist__fL4Y5{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.components_navlist__fL4Y5 li{
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

.components_navlist__fL4Y5 a{
    margin: 0;
    padding: 0;
}

.components_navlist_item__V2ck2{
    margin: 0;
    padding: 10px 14px;
    display: flex;
    text-decoration: none;
    color: #2B2D42;
    font-size: 1rem;
    font-weight: 500;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.components_navlist_item__V2ck2:hover{
    background-color: #8D99AE;
}

.components_navlist_item_active__14qTH{
    border-left: #FFC145 solid 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* 

    SIDEBAR ICONS

*/

.components_navlist_item_ico__kv9X6{
    margin: auto 10px auto 0;
    padding: 0;
}

.components_navlist_item_ico__kv9X6 img{
    display: block;
}

.components_navlist_item__V2ck2 p{
    margin: auto 0;
}

.components_sidebar_ver_div__8l3Mp{
    margin: 10px auto;
    padding: 0;
    position: absolute;
    bottom: 10px;
    left: 70px;
}

.components_sidebar_ver__9crvn{
    font-size: 0.812rem;
    font-weight: 500;
    color: #EDF2F4;
}

/* 

    HEADER

*/

.components_main_ui_container__o88Dt{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    min-width: 810px;
    height: 100vh;
    color: #2B2D42;
}

.components_main_header_container__IxoBP{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    background-color: #EDF2F4;
}

.components_header_title__Z6JWL{
    margin: auto auto auto 40px;
    padding: 0;
}

.components_header_user_div__K_Axb{
    margin: auto 40px auto 0;
    padding: 0;
}

.components_header_user_btn__eP4l_{
    margin: 0;
    padding: 5px 5px 5px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    cursor: pointer;
}

.components_header_user_btn__eP4l_:hover{
    background-color: #2B2D42;
    color: #EDF2F4;
}

.components_user_btn_content__C8mc1{
    margin: 0;
    padding: 0;
    display: flex;
}

.components_user_name__e6ku_{
    margin: auto 0;
    padding: 0;
    font-weight: 500;
}

.components_user_avatar_div__HrRkT{
    margin: 0 0 0 20px;
    padding: 0;
    display: flex;
    width: 40px;
    height: 40px;
    border: #8D99AE solid 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.components_user_avatar_div__HrRkT img{
    margin: auto;
    padding: 0;
    display: block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* 

    DROPDOWN CONTENT

*/

.components_header_dropdown_div___H3aH{
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    right: 40px;
    border: #2B2D42 solid 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.components_header_dropdown_content__r2x4k{
    margin: 0;
    padding: 0;
    display: flex;
}

.components_dropdown_items__fmetf{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.components_dropdown_items__fmetf li{
    margin: 5px 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    list-style-type: none;
}

.components_dropdown_items__fmetf a{
    margin: 0;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 0.812rem;
    font-weight: 500;
    color: #2B2D42;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.components_dropdown_items__fmetf a:hover{
    background-color: #8D99AE;
}

.components_dropdown_items__fmetf button{
    margin: 0;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 0.812rem;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #2B2D42;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    cursor: pointer;
}

.components_dropdown_items__fmetf button:hover{
    background-color: #8D99AE;
}

