.main_content_container{
    margin: 0;
    padding: 5px 40px 40px 40px;
    display: flex;
    flex-flow: column;
    min-width: 800px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.main_cta_row{
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.cta_filter_div{
    margin: auto auto auto 0;
    padding: 0;
    display: flex;
}

.cta_filt_btn{
    margin: auto 5px;
    padding: 5px 15px;
    font-size: 0.812rem;
    font-weight: 500;
    color: #2B2D42;
    background-color: #EDF2F4;
    border: #2B2D42 solid 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    cursor: pointer;
}

.cta_filt_btn:hover{
    background-color: #FFC145;
    border: #FFC145 solid 1px;
}

.cta_filt_active_btn{
    background-color: #FFC145;
    border: #FFC145 solid 1px;
}


.cta_newprop_btn{
    margin: auto 0;
    padding: 10px 30px;
    background-color: #2B2D42;
    color: #EDF2F4;
    font-size: 0.812rem;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    cursor: pointer;
}

.cta_newprop_btn:hover{
    background-color: #FFC145;
    color: #2B2D42;
}



/* 

    ACCOUNT LIST ITEM

*/

.main_grid_container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.main_grid_item_container{
    margin: 10px;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 344px;
    background-color: #FFFFFF;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.grid_item_photo_div{
    margin: 10px;
    padding: 0;
}

.grid_item_photo{
    margin: 0;
    padding: 0;
    display: block;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.grid_item_residence_div{
    margin: 0 20px;
    padding: 0;
}

.grid_item_residence{

}

.grid_item_owner_div{
    margin: 10px 20px;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.grid_item_owner_label{
    font-size: 0.625rem;
}

.grid_item_owner{
    margin: 2px 0 0 0;
    font-size: 0.812rem;
    font-weight: 500;
}

.grid_item_address_div{
    margin: 0 20px;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.grid_item_address_label{
    font-size: 0.625rem;
}

.grid_item_address{
    margin: 2px 0 0 0;
    font-size: 0.812rem;
    font-weight: 500;
}

.grid_item_cta_div{
    margin: 20px;
    padding: 0;
    display: flex;
}

.grid_item_cta{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #2B2D42;
    text-align: center;
    font-size: 0.812rem;
    font-weight: 500;
    color: #EDF2F4;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.grid_item_cta:hover{
    background-color: #FFC145;
    color: #2B2D42;
}
